<table class="profile" summary="Administrator Information">
	<tr>
		<td class="main">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar round">
			<%= link_to "Artwork's administration", artworks_path %>
			<%= link_to "Sign new admin Up!", signup_path %>
		</td>
	</tr>
</table>