<h1>Carmen's Gallery</h1>
<i>
<h2>Teaching Experience</h2>
<table>
	<tr>
		<th>Time</th>
		<th>Activity</th>
	</tr>
	<tr>
		<td>2012-Present</td>
		<td>Drawing 1 Instructor at Brooklyn College</td>
	</tr>
	<tr>
		<td>2008-Present</td>
		<td>Printmaking Studio lab technician at Brooklyn College</td>
	</tr>
	<tr>
		<td>2010-2012</td>
		<td>Printmaking Techniques with concentration on Monotype, Intaglio and Plate Lithography teaching assistant for Arnold brooks at Brooklyn College</td>
	</tr>
	<tr>
		<td>2011-2012</td>
		<td>Drawing 1 and Figure Drawing teaching assistant for Janet Carlile at Brooklyn College</td>
	</tr>
	<tr>
		<td>2008-2011</td>
		<td>Artist Assistant for painter and printmaker Pricila Van Laarhoven</td>
	</tr>
	<tr>
		<td>2008-2010</td>
		<td>Tutor employed by Champion Learning</td>
	</tr>
	<tr>
		<td>2003-2004</td>
		<td>Private Art Instructor</td>
	</tr>
</table>
<br />
<%= image_tag("studio.jpg", :alt => "Carmen's Studio") %>
<br />
<h2>Current and Recent Exhibitions</h2>
<table>
	<tr>
		<td>The Sketchbook Project Limited Edition 2012 - Brooklyn Art Library - June 22, 2012</td>
	</tr>
	<tr>
		<td>Brooklyn College MFA Open Studios, Spring 2012 - Brooklyn College Boylan Hall - March 23th & 24th, 2012</td>
	</tr>
	<tr>
		<td>DOUBLE SPACED. Office of Visual, Media and Performing Arts - Brooklyn College Boylan Hall - December 12th, 2011</td>
	</tr>
	<tr>
		<td>DISAMBIGUATION. Freddy's Back Room - 627 5th Ave. Brooklyn NY - December 29th, 2011</td>
	</tr>
	<tr>
		<td>SURREAL VISIONS. Limner Gallery - 123 Warren Street Hudson NY. - September 10th, 2011</td>
	</tr>
	<tr>
		<td>Brooklyn College MFA Open Studios, Spring 2011 - Brooklyn College Boylan Hall - April 8th & 9th, 2011</td>
	</tr>
	<tr>
		<td>SIZE MATTERS. Two Moon Art House - 315 4th Ave. Brooklyn, NY  - January 6th, 2011</td>
	</tr>
</table>
<br />
<h3>You can also see my work at these links, as well as, follow me in twitter: </h3>
<nav class="round">
	<ul>
		<li><a href="http://www.artslant.com/global/artists/show/235804-carmen-figueroa">ArtSlant   </li>
		<li><a href="http://www.flickr.com/photos/carmensgallery">Flickr   </a></li>
		<li><a href="http://www.brooklyncollegeopenstudios.com">Brooklyn College Open Studios   </a></li>
		<li><a href="https://twitter.com/CarmenGallery" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @CarmenGallery</a></li>
	</ul>
</nav>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id))
	{js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
	fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</i>