<h1>Carmen's Gallery</h1>
<i>
<h2>Current and Recent Exhibitions</h2>
<table>
	<tr>
		<td>The Sketchbook Project Limited Edition 2012 - Brooklyn Art Library - June 22, 2012</td>
	</tr>
	<tr>
		<td>Brooklyn College MFA Open Studios, Spring 2012 - Brooklyn College Boylan Hall - March 23th and 24th, 2012</td>
	</tr>
	<tr>
		<td>Disambiguation. Freddy's Back Room - 627 5th Ave. Brooklyn NY - December 29th, 2011</td>
	</tr>
	<tr>
		<td>Double Spaced. Office of Visual, Media and Performing Arts - Brooklyn College Boylan Hall - December 12th, 2011</td>
	</tr>
	<tr>
		<td>Brooklyn College MFA Open Studios, Fall 2011 - Brooklyn College Boylan Hall - November 18th to 21st, 2011</td>
	</tr>
	<tr>
		<td>Surreal Visions. Limner Gallery - 123 Warren Street Hudson NY. - September 10th, 2011</td>
	</tr>
	<tr>
		<td>Brooklyn College MFA Open Studios, Spring 2011 - Brooklyn College Boylan Hall - April 8th and 9th, 2011</td>
	</tr>
	<tr>
		<td>Size Matters. Two Moon Art House - 315 4th Ave. Brooklyn, NY  - January 6th, 2011</td>
	</tr>
	<tr>
		<td>Brooklyn College Open Studios, Fall 2010 - Brooklyn College Boylan Hall - November 19th and 20th, 2010</td>
	</tr>
	<tr>
		<td>Self-Induced. Brooklyn College Art Gallery - Brooklyn College Boylan Hall - May 5th, 2008</td>
	</tr>
	<tr>
		<td>Encuentro. Brooklyn College Library - November, 2007</td>
	</tr>
</table>
<br />
<%= image_tag("studio.jpg", :alt => "Carmen's Studio") %>
<br />
<h2>Teaching Experience</h2>
<table width="100%">
	<tr>
		<th>Period</th>
		<th>Activity</th>
	</tr>
	<tr>
		<td width="25%">2012-Present</td>
		<td width="75%">Drawing 1 Instructor at Brooklyn College</td>
	</tr>
	<tr>
		<td width="25%">2008-Present</td>
		<td width="75%">Printmaking Studio lab technician at Brooklyn College</td>
	</tr>
	<tr>
		<td width="25%">2010-2012</td>
		<td width="75%">Printmaking Techniques with concentration on Monotype, Intaglio and Plate Lithography teaching assistant for Arnold Brooks at Brooklyn College</td>
	</tr>
	<tr>
		<td width="25%">2011-2012</td>
		<td width="75%">Drawing 1 and Figure Drawing teaching assistant for Janet Carlile at Brooklyn College</td>
	</tr>
	<tr>
		<td width="25%">2008-2011</td>
		<td width="75%">Artist Assistant for painter and printmaker Priscilla Van Larhooven</td>
	</tr>
	<tr>
		<td width="25%">2008-2010</td>
		<td width="75%">Tutor employed by Champion Learning</td>
	</tr>
	<tr>
		<td width="25%">2003-2004</td>
		<td width="75%">Private Art Instructor</td>
	</tr>
</table>
<br />
<h2>Awards and Acknowledgments</h2>
<table width="100%">
	<tr>
		<th>Year</th>
		<th>Award</th>
	</tr>
	<tr>
		<td width="25%">2012</td>
		<td width="75%">Recipient of GIP grant for research</td>
	</tr>
	<tr>
		<td width="25%">2011-2012</td>
		<td width="75%">Brooklyn College Graduate Teaching Fellowship</td>
	</tr>
	<tr>
		<td width="25%">2010</td>
		<td width="75%">Recipient of GIP grant for research</td>
	</tr>
	<tr>
		<td width="25%">2008</td>
		<td width="75%">Recipient of Brooklyn College Art Department Shaw Awards and Graduating Senior Award</td>
	</tr>
	<tr>
		<td width="25%">2007</td>
		<td width="75%">Recipient of Brooklyn College Art Department Shaw Awards</td>
	</tr>
</table>
<br />
<h3>You can also see my work at these links, as well as, follow me in twitter: </h3>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id))
	{js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
	fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<nav class="round">
	<ul>
		<li><a href="http://www.artslant.com/global/artists/show/235804-carmen-figueroa">ArtSlant   </a></li>
		<li><a href="http://www.facebook.com/carmen.gallery">Facebook   </a></li>
		<li><a href="http://www.etsy.com/shop/OVERSIGHT">Tshirts?   </a></li>
		<li><a href="http://www.flickr.com/photos/carmensgallery">Flickr   </a></li>
		<li><a href="https://twitter.com/CarmenGallery" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @CarmenGallery</a></li>
	</ul>
</nav>
</i>