<h1>Carmen's Gallery</h1>
<i>
<p>
	Welcome to Carmen's Gallery! Visitors will be granted access to view and comment on my previous
	and current work, as well as, a glimpse into my work process and spaces.
</p>
<p>
	Currently, I am a New York based artist and M.F.A. candidate at Brooklyn College.
</p>
</i>
