<h1>Carmen's Gallery</h1>
<i>
<p>
	In my work, I explore deeply personal and private thoughts that nevertheless are common to all.
	How we sense our material being, the sensory experiences absorbed through the body the interaction
	of the physical along with the non-physical way in which we sense ourselves. The longing for what
	is lost, internal dialogues, reflections about how people interact with each other, secret meanings
	infused in ordinary occurrences, intentions that remain unspoken and specific investigations of
	ideas are all taken into account and also serve as inspiration while constructing the images. 
</p>
<p>
	Through the modification of the human body and its surroundings, along with the creation of
	metaphorical settings, I seek to render the unseen, in order to approximate a more accurate
	representation of the way we inhabit our lives. The human form becomes the root to infinite
	variables in the investigation of an idea and the settings serve to locate the figure in or
	out of space and time.  
</p>
<p>
	The element of the unknown is always present, creating tension and infusing the imaginary with
	a sort of mysticism, sometimes dictated by what is veiled in the unconscious part of the brain,
	the dreams that infect the waking life with indecipherable messages, the perception of time in
	a non-lineal way and the true understanding of mortality and how death ejects us from the physical
	world into the truly unknown and ends the relationship with this reality.
</p>
<p>
	All these factors focus my work into a meticulous balancing act of representing the influence of
	the unseen in a visual way. 
</p>
</i>
