<tr>
	<td class="micropost">
		<span class="name"><%= micropost.name %></span>
		<span class="timestamp"><%= time_ago_in_words(micropost.created_at) %></span>
		<span class="content"><%= micropost.content %></span>
	</td>
</tr>
